
.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #00796b;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navLink:hover,
.navLink.active {
  color: #ffcc00;
}

.authNav {
  display: flex;
  gap: 20px;
}
